/* ============================================================
   ASIDE IZQUIERDO (DISEÑO ORIGINAL)
============================================================ */
.aside-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #1B3B6F;
    color: #E3F6FF;
    box-shadow: 0 2px 8px rgba(0,0,0,0.6);
    z-index: 100;
}

.aside-left__container {
    display: grid;
    grid-template-rows: 100px repeat(4, 40px) 1fr 40px;
    height: calc(100% - 40px);
    margin: 20px;
    gap: 20px;
}

.aside-left__container > a {
    background-color: #E3F6FF;
    color: #1B3B6F;
    font-weight: bold;
    border-radius: 10px;
    line-height: 40px;
    text-align: center;
}

.aside-left__container > a.active {
    background-color: #6EC6E6;
    border: 1px solid #E3F6FF;
}

.logo {
    width: 80px;
    height: 80px;
    margin: auto;
    background-color: #E3F6FF;
    border-radius: 15px;
}

.contact__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact__title {
    text-align: center;
}
.contact__info {
    padding: 10px;
    background-color: #E3F6FF;
    color: #1B3B6F;
    border-radius: 6px;
    height: 100%;
}

.logout {
    background-color: #B22222 !important;
    color: #fff !important;
    border-radius: 10px;
}
