/* =========================================
   RESET BÁSICO + NORMALIZACIÓN
========================================= */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background-color: var(--color-fondo);
    color: var(--color-texto);
    -webkit-font-smoothing: antialiased;
    overflow: hidden; /* scroll solo en <main> */
}

img,
svg {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Scrollbar general */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #e5eaf4;
}

::-webkit-scrollbar-thumb {
    background: var(--color-primario);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #274a8b;
}
